@model IEnumerable<CarRental.DTO.AvailableCarViewModel>
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "GetAvailableCars";
}
@inject SignInManager<Client> SignInManager
@inject UserManager<Client> UserManager

@{
    bool isLogged = SignInManager.IsSignedIn(User);
    bool isAdmin = false;
    if (isLogged)
    {
        Client user = await UserManager.FindByNameAsync(User.Identity.Name);
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    }
}


<h1>GetAvailableCars</h1>
@if (isAdmin)
{
    
        
        @Html.ActionLink("Dodaj Samochód", "AddCar","Car",  new { @class = "btn btn-primary" })
   
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
           
            <td>
                    <img src= "../Img/@item.Image" width="200" height="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>    
                   
                    
                    @if (isLogged) {
                        @if (isAdmin)
                        {
                            @Html.ActionLink("Zaktualizuj dane", "UpdateCar","Car", new { CarId = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Usuń ", "Delete","Car", new { CarId = item.Id }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("Dodaj Opinie", "AddReview","Review", new { CarId = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Wypożycz", "Rent","Rental", new { CarId = item.Id }, new { @class = "btn btn-primary" })
                    }
                    @Html.ActionLink("Szczegóły i recenzje", "Details","Car", new { CarId = item.Id }, new { @class = "btn btn-primary" })
                    
           @*      <a asp-action="AddReview" asp-controller = "Review" asp-route-id="@item.Id">Dodaj Opinie</a>*@
                    
                    
            </td>

        </tr>
            
        }
    </tbody>
</table>
