@model CarRental.DTO.AddCarDTO
@using Microsoft.Web.Helpers

@{
    ViewData["Title"] = "AddCar";
    Car car = ViewBag.Car as Car;
    Console.WriteLine();
}

<h1>AddCar</h1>

@* public int Id { get; set; }
        public string Brand { get; set; }
        public string Model { get; set; }
        public int Year { get; set; }
        public string Colour { get; set; }
        public bool Availability { get; set; }
        public IFormFile Image { get; set; }
        public string Description { get; set; }*@

<h4>Update Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="container py-5">
            <h1 class="text-center mb-4">@ViewData["Title"]</h1>

            @using (Html.BeginForm("UpdateCar", "Car", FormMethod.Post, new { enctype = "multipart/form-data", @class = "card border-0 shadow p-4" }))
            {
                      <div style="display:none">
                   
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @required = true} });
                  
                    </div>

                <div>
                    @Html.LabelFor(m => m.Brand, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control", @required= true } })



                    @Html.LabelFor(m => m.Model, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @required= true } })

                    @Html.LabelFor(m => m.Year, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Year , new { htmlAttributes = new { @class = "form-control", @required= true } })

                    @Html.LabelFor(m => m.Colour, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Colour, new { htmlAttributes = new { @class = "form-control", @required= true} })
                    
                    @Html.LabelFor(m => m.Availability, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Availability, new { htmlAttributes = new { @class = "check-box", @required= true} })
                    <br>

                    @Html.LabelFor(m => m.Description, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required= true } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Image, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "form-control"})
                   
                </div>

                <input type="submit" value="Wyślij" class="btn btn-primary" />
            }
        </div>

    </div>
</div>

<div>
    <a asp-controller="Car" asp-action="GetAvailableCars" class="btn btn-primary">Back to List</a>
</div>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
